<div class="row">
   <div class="col-md-4 col-md-offset-4">
 <div class="panel panel-primary">
   <div class="panel-heading">
     <h3 class="panel-title">Sign Up Now</h3>
   </div>
   <div class="panel-body">
   </div>
  </div>
 </div>
</div>


  <form action="/signup" method="POST">
    <div class="form-group">
      <label for="username">Username</label>
      <label for="Username"></label><input name="username" class="form-control" id="Username" placeholder="Your Full Name">
    </div>
    <div class="form-group">
      <label for="firstName">First name</label>
      <label for="FirstName"></label><input name="firstName" class="form-control" id="FirstName" placeholder="Your first name">
    </div>
    <div class="form-group">
      <label for="lastName">Last name</label>
      <label for="LastName"></label><input name="lastName" class="form-control" id="LastName" placeholder="Your last name">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <label for="Phone"></label><input name="phone" class="form-control" id="Phone" placeholder="Phone">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <label for="Email"></label><input type="email" name="email" class="form-control" id="Email" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <label for="Age"></label><input name="age" class="form-control" id="Age" placeholder="Age">
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <label for="Gender"></label><input name="gender" class="form-control" id="Gender" placeholder="Gender">
    </div>
    <div class="form-group">
      <label for="hobby">Hobby</label>
      <label for="Hobby"></label><input name="hobby" class="form-control" id="Hobby" placeholder="Hobby">
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <label for="City"></label><input name="city" class="form-control" id="City" placeholder="City">
    </div>
    <div class="form-group">
      <label for="Password">Password</label>
      <input type="password" name="password" class="form-control" id="Password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Signup</button>
  </form>
